{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'ongapp/icons/favicon_2.svg' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <title>MetaGames</title>

    <link rel="stylesheet" href="{% static 'ongapp/estilos.css'%}   ">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header class="header">
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
        <div class="search">
            <span class="uil uil-search"></span>
            <input id="searchInput" placeholder="Buscar en Meta-Games" type="text" />
            
          </div>

          <div class="icons">
          
            <a  class="fas fa-shopping-cart"></a>
            <a href="{% url 'iniciarsesion'%}"  class="fa-sharp fa-solid fa-user" aria-placeholder=""> </a>

        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <img class="logo" src="{% static 'ongapp/img/MetaGamesLogo_2.png' %}" alt="Logo de Meta-Games"> 
        </div>
        <div class="options__menu">	
            <a href="{% url 'index' %}" >
                <div class="option">    
                    <img src="{% static 'ongapp/icons/Inicio.svg' %}" alt="icon inicio">
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="{% url 'nosotros' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Nosotros.svg' %}" alt="icon nosotros"> 
                    <h4>Nosotros</h4>
                </div>
            </a>
            
            <a href="{% url 'retrogames' %}">
                <div class="option" >
                    <img src="{% static 'ongapp/icons/Retro.svg' %}" alt="icon retrogames">
                    <h4>RetroGames</h4>
                </div>
            </a>

            <a href="{% url 'newgames' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Nuevos.svg' %}" alt="icon nuevos">
                    <h4>New Games</h4>
                </div>
            </a>

            <a href="{% url 'classicgames' %}" class="selected">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Clasicos.svg' %}" alt="icon clasicos"> 
                    <h4>Classic Games</h4>
                </div>
            </a>

            <a href="{% url 'contactanos' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Contactanos.svg'%}"alt="icon contacto"> 
                    <h4>Contacto</h4>
                </div>
            </a>

        </div>

    </div>

    <main>

     
          
          <div class="carrito">
            <h2>Carrito de compras</h2>
            <ul class="lista-carrito"></ul>
            <p class="total">Total: $0</p>
            <button class="vaciar-carrito">Vaciar carrito</button>
            <button class="comprar">Comprar</button>
          </div>
        
          <div class="modal">
            <div class="modal-contenido">
              <h2>Confirmar compra</h2>
              <p>¿Estás seguro de que deseas realizar la compra?</p>
              <button class="cancelar-compra">Cancelar</button>
              <button class="confirmar-compra">Confirmar</button>
            </div>
          </div>

          
      

          <section class="shop" id="shop">
            <h1 class="tittle">Classic<span>Games</span></h1>
            <div class="box-container">
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/classic/gta52.jpg' %}">
                        <div class="icons">    
                        </div>
                    </div>
                    <div class="content">
                        <h3>Gta-V</h3>
                        <div class="price">$26.000 CLP <span> $24.000</span></div>
                        <button class="agregar-carrito" data-nombre="Gta-V" data-precio="24000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\masseffect2.jpg' %}">
                    
                    </div>
                    <div class="content">
                        <h3>Mass Effect 2</h3>
                        <div class="price">$49.000 CLP<span> $24.990</span></div>
                        <button class="agregar-carrito" data-nombre="Mass Effect 2" data-precio="24990">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\portal_2 (1).jpg' %}">
                        <div class="icons">
                         
                        </div>
                    </div>
                    <div class="content">
                        <h3>Portal 2</h3>
                        <div class="price">$18.300 CLP<span> $16.000</span></div>
                        <button class="agregar-carrito" data-nombre="Portal 2" data-precio="16000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\batmanac.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Batman Arkham City</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Batman Arkham City" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\farcrydosdos.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Far Cry 2</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Far Cry 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\half life_2.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Half-Life 2</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Half-Life 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\bioshock 1 remastered.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>BioShock</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="BioShock" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\bioshock_2.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>BioShock 2</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="BioShock 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\StarCraft2 (2).jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>StarCraft 2</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="StarCraft 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\7dtd.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>7 Days To Die</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="7 Days To Die" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\skyrimm (1).jpeg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Skyrim V</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Skyrim" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\assassins_creed_blag_flag (1).jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Assassin's Creed IV</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Assassin's Creed IV" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\Grand_Theft_Auto_San_Andreas.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>GTA: San Andreas</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="GTA: San Andreas" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\payday_2.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Pay Day 2</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Pay Day 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\classic\resident_evil_4.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Resident Evil 4</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Resident Evil 4" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
               
            </div>
            
    <button type="button" class="btn1"><a href="{% url 'classicgames2' %}">Siguiente</a>  </button>
        </section>
     
    </main>

    <footer>
        <section class="footer" id="contact">
           
            <div class="box-container">
    
              
                
               
                
                <div class="box">
                  
                        <img src="{% static 'ongapp/img/MetaGamesLogo_21.png' %}" alt="logo" width="220" height="30">
                  
                </div > 
                <div class="box">
                    <h3>Detalles de Contacto</h3>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-envelope"></i>metaguid.duoc@gmail.com</a>
                    <a href="#" class="link"><i class="fas fa-map"></i>Egaña 323, Puerto Montt Chile</a>
                  
                </div>
    
                <div class="box">  <h3>Siguenos en</h3>
                   <div class="share">
                
                        <a href="" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-youtube"></a>
                    </div>
                </div>
    
                
            </div>
            <div class="credit"><span>Meta Games |</span>| Derechos Reservados</div>
            
    
        </section>
    </footer>

    <script src="{% static 'ongapp/js/script.js' %}"></script>
    <script src="{% static 'ongapp/js/script2.js' %}"></script>
  
</body>
</html>