{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos la tienda de videojuegos con el mejor catalogo de videojuegos online y al mejor precio">
    <meta name="keywords" content="games, videogames, pc, computers, gamers">
    <meta name="author" content="Diego Sanchez, David Coo, Nicolas Carcamo">
    <title>Administración</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="icon" href="{% static 'main/media/icons/favicon_2.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Code+Pro&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"   />
</head>

<body class="cuerpo">
    <header class="header">
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
        <div class="search">
            <span class="uil uil-search"></span>
            <input id="searchInput" placeholder="Buscar en Meta-Games" type="text" />
            
          </div>

          <div class="icons">
            <a  class="fas fa-shopping-cart"></a>
            <a href="{% url 'iniciarsesion' %}"  class="fa-sharp fa-solid fa-user" aria-placeholder=""> </a>
            </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <img class="logo" src="{% static 'main\media\MetaGamesLogo_2.png' %}" alt="Logo de Meta-Games"> 
        </div>
        <div class="options__menu">	
           
                <div class="option">    
                    <img src="{% static 'main/media/icons/Inicio.svg' %}" alt="icon inicio"> <a href="{% url 'index' %}">
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="{% url 'nosotros' %}">
                <div class="option">
                    <img src="{% static 'main/media/icons/Nosotros.svg' %}" alt="icon nosotros"> 
                    <h4>Nosotros</h4>
                </div>
            </a>
            <a href="{% url 'games' %}"> <a href="#" class="selected">
              <div class="option">
                  <img src="{% static 'main/media/icons/games.svg' %}" alt="icon nosotros"> 
                  <h4>Listado de Juegos</h4>
              </div>
          </a>
            
            <a href="{% url 'retrogames' %}">
                <div class="option">
                    <img src="{% static 'main/media/icons/Retro.svg' %}" alt="icon retrogames"> 
                    <h4>RetroGames</h4>
                </div>
            </a>

            <a href="{% url 'newgames' %}">
                <div class="option">
                    <img src="{% static 'main/media/icons/Nuevos.svg' %}" alt="icon nuevos">
                    <h4>New Games</h4>
                </div>
            </a>

            <a href="{% url 'classicgames' %}">
                <div class="option">
                    <img src="{% static 'main/media/icons/Clasicos.svg' %}" alt="icon clasicos"> 
                    <h4>Classic Games</h4>
                </div>
            </a>

            <a href="{% url 'contactanos' %}">
                <div class="option">
                    <img src="{% static 'main/media/icons/Contactanos.svg' %}"alt="icon contacto"> 
                    <h4>Contacto</h4>
                </div>
            </a>

        </div>

    </div>
    <main >
    
        <h1 class="tittle"><img src="{% static 'main/media/icons/config.svg' %}" width="50px"> Editar <span>Panel</span></h1>

        
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2 class="subtitulo">Actualiza los datos del videojuego</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="/editarJuego/" method="POST" style="color: grey; background-color: #262628;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id">ID: </label>
                                <input type="text" id="id" name="id" class="form-control" value="{{juego.id}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre: </label>
                                <input type="text" id="nombre" name="nombre" class="form-control" value="{{juego.nombre}}">
                            </div>
                            <div class="form-group">
                                <label for="categoria">Categoria: </label>
                                <select class="form-select" id="categoria" name="categoria" style="width: 100%;">
                                    <option value={{juego.categoria.id}} selected>{{juego.categoria.nombre}}</option>
                                    {% for categoria in categorias %}                       
                                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>                            
                            <div class="form-group">
                                <label for="precio">Precio: </label>
                                <input type="number" id="precio" name="precio" class="form-control" value="{{juego.precio}}">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-success btn-block text-white">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
                
    </main>

    <footer>
        <section class="footer" id="contact">
           
            <div class="box-container">
    
              
                
               
                
                <div class="box">
                  
                        <img src="{% static 'main\media\MetaGamesLogo_21.png' %}" alt="logo" width="220" height="30">
                  
                </div > 
                <div class="box">
                    <h3>Detalles de Contacto</h3>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-envelope"></i>metaguid.duoc@gmail.com</a>
                    <a href="#" class="link"><i class="fas fa-map"></i>Egaña 323, Puerto Montt Chile</a>
                  
                </div>
    
                <div class="box">  <h3>Siguenos en</h3>
                   <div class="share">
                
                        <a href="" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-youtube"></a>
                    </div>
                </div>
    
                
            </div>
            <div class="credit"><span>Meta Games |</span>| Derechos Reservados</div>
            
    
        </section>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>