{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos la tienda de videojuegos con el mejor catalogo de videojuegos online y al mejor precio">
    <meta name="keywords" content="games, videogames, pc, computers, gamers">
    <meta name="author" content="Diego Sanchez, David Coo, Nicolas Carcamo">
    <title>Listado de Videojuegos</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="{% static 'main/media/icons/favicon_2.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Code+Pro&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
</head>

<body class="cuerpo">
    <nav class="izquierda">
        <img class="logo" src="{% static 'main/media/MetaGamesLogo_2.png' %}" alt="Logo de Meta-Games">

     
        <ul>
          <li> <a href="{% url 'index' %}"><img src="{% static 'main/media/icons/Inicio.svg' %}" alt="icon inicio"><p class="tol">Inicio</p></a></li>
          <li> <a href="{% url 'nosotros' %}"><img src="{% static 'main/media/icons/Nosotros.svg' %}" alt="icon nosotros"> <p class="tol">Nosotros</p></a></li>
          <li> <a href="{% url 'games' %}"><img src="{% static 'main/media/icons/games.svg' %}" alt="icon games"> <p class="tol">Listado Videojuegos</p></a></li>
          <li> <a href="{% url 'retrogames' %}"><img src="{% static 'main/media/icons/Retro.svg' %}" alt="icon retrogames"> <p class="tol">Retro Games</p></a></li>
          <li> <a href="{% url 'newgames' %}"> <img src="{% static 'main/media/icons/Nuevos.svg' %}" alt="icon nuevos"><p class="tol"> New Games</p></a></li>
          <li> <a href="{% url 'classicgames' %}"><img src="{% static 'main/media/icons/Clasicos.svg' %}" alt="icon clasicos"> <p class="tol">Classic Games</p></a></li>
          <li> <a href="{% url 'contactanos' %}"><img src="{% static 'main/media/icons/Contactanos.svg' %}" alt="icon contacto"><p class="tol"> Contacto</p></a></li>
       </ul>
    </nav>

    <header class="cabecera">
        <div class="search">
            <span class="uil uil-search">
            </span>
            <input placeholder="Buscar...." type="text" />
            
          </div>
        <a class="sing-in" href="{% url 'registrarse' %}">Registrarse</a>
        <a class="log-in" href="{% url 'iniciarsesion' %}">Iniciar Sesión</a>
    </header>

    <main class="contenido">
        
        <div class="titulo-pagina"><img src="{% static 'main/media/icons/games.svg' %}"><span>Listado de Videojuegos</span></div><br>
        
        <div class="container-fluid px-4">
          <div class="row">
            {% for juego in juegos %}
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="mb-5 card" id="game">
                  <img class="card-img-top" src="{{juego.image.url}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{juego.nombre}}</h5>
                    <p class="card-text">${{juego.precio}}</p>
                    <a href="torrents/gta5.torrent" class="btn btn-dark btn-block">Descargar</a>
                  </div>
                </div> 
              </div>
            {% endfor %}
          </div>
        </div>
        
    </main>

    <footer>
      <section class="footer" id="contact">
         
          <div class="box-container">
  
            
              
             
              
              <div class="box">
                
                      <img src="{% static 'main\media\MetaGamesLogo_21.png' %}" alt="logo" width="220" height="30">
                
              </div > 
              <div class="box">
                  <h3>Detalles de Contacto</h3>
                  <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                  <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                  <a href="#" class="link"><i class="fas fa-envelope"></i>metaguid.duoc@gmail.com</a>
                  <a href="#" class="link"><i class="fas fa-map"></i>Egaña 323, Puerto Montt Chile</a>
                
              </div>
  
              <div class="box">  <h3>Siguenos en</h3>
                 <div class="share">
              
                      <a href="" class="fab fa-facebook-f"></a>
                      <a href="" class="fab fa-twitter"></a>
                      <a href="" class="fab fa-instagram"></a>
                      <a href="" class="fab fa-youtube"></a>
                  </div>
              </div>
  
              
          </div>
          <div class="credit"><span>Meta Games |</span>| Derechos Reservados</div>
          
  
      </section>
  </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>