<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icons\favicon_2.svg"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <title>MetaGames</title>

    <link rel="stylesheet" href="css/estilos.css">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header class="header">
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
        <div class="search">
            <span class="uil uil-search"></span>
            <input id="searchInput" placeholder="Buscar en Meta-Games" type="text" />
            
          </div>

          <div class="icons">
            <a  class="fas fa-shopping-cart"></a>
            <a href="html/IniciarSesion.html"  class="fa-sharp fa-solid fa-user" aria-placeholder=""> </a>

        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <img class="logo" src="img/MetaGamesLogo_2.png" alt="Logo de Meta-Games"> 
        </div>
        <div class="options__menu">	
            <a href="#" class="selected">
                <div class="option">    
                    <img src="icons/Inicio.svg" alt="icon inicio"> <a href="index.html">
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="html/Nosotros.html">
                <div class="option">
                    <img src="icons/Nosotros.svg" alt="icon nosotros"> 
                    <h4>Nosotros</h4>
                </div>
            </a>
            
            <a href="html/RetroGames.html">
                <div class="option">
                    <img src="icons/Retro.svg" alt="icon retrogames"> 
                    <h4>RetroGames</h4>
                </div>
            </a>

            <a href="html/NewGames.html">
                <div class="option">
                    <img src="icons/Nuevos.svg" alt="icon nuevos">
                    <h4>New Games</h4>
                </div>
            </a>

            <a href="html/ClassicGames.html">
                <div class="option">
                    <img src="icons/Clasicos.svg" alt="icon clasicos"> 
                    <h4>Classic Games</h4>
                </div>
            </a>

            <a href="html/Contactanos.html">
                <div class="option">
                    <img src="icons/Contactanos.svg"alt="icon contacto"> 
                    <h4>Contacto</h4>
                </div>
            </a>

        </div>

    </div>

    <main>

     
          
          <div class="carrito">
            <h2>Carrito de compras</h2>
            <ul class="lista-carrito"></ul>
            <p class="total">Total: $0</p>
            <button class="vaciar-carrito">Vaciar carrito</button>
            <button class="comprar">Comprar</button>
          </div>
        
          <div class="modal">
            <div class="modal-contenido">
              <h2>Confirmar compra</h2>
              <p>¿Estás seguro de que deseas realizar la compra?</p>
              <button class="cancelar-compra">Cancelar</button>
              <button class="confirmar-compra">Confirmar</button>
            </div>
          </div>

          
        <h1 class="tittle">Bienvenido a <span> Meta Games</span></h1>
        <div class="slide">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1"name="slide" aria-hidden="true" hidden="" checked="checked">
                <div class="slide-item"><a href="http://naruto-game.bngames.net/"><img src="img/sliders/01.png" alt="img slider"></a></div>
    
                <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
                <div class="slide-item"><a href="https://playstation.com/god-of-war"><img src="/img/sliders/02.png" alt="img slider2"></a></div>
    
                <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">
                <div class="slide-item"><a href="https://www.rockstargames.com/es/games/reddeadredemption2"> <img src="../img/sliders/03.png" alt="img slider3"> </a></div>
                
                <label for="slide-2" class="slide-control next control-1"><img src="icons/right-arrow.svg" alt="arrow"></label>
                <label for="slide-3" class="slide-control next control-2"><img src="icons/right-arrow.svg" alt="arrow"></label> 
                <label for="slide-1" class="slide-control next control-3"><img src="icons/right-arrow.svg"alt="arrow"></label>
    
                <label for="slide-3" class="slide-control prev control-1"><img src="icons/left-arrow.svg"alt="arrow"></label>
                <label for="slide-1" class="slide-control prev control-2"><img src="icons/left-arrow.svg"alt="arrow"></label>
                <label for="slide-2" class="slide-control prev control-3"><img src="icons/left-arrow.svg"alt="arrow"></label>
                           
                <ol class="slide-indicador">
                    <li><label for="slide-1" class="slide-circulo">•</label></li>
                    <li><label for="slide-2" class="slide-circulo">•</label></li>
                    <li><label for="slide-3" class="slide-circulo">•</label></li>
                </ol>
            </div>
          </div>

          <section class="category" id="category">
            <h1 class="tittle">Cate<span>gorias</span></h1><hr>
            <div class="box-container">
                <div class="collection-card" style="background-image:url(img/class1.png)">
                    <h1>RetroGames</h1>
                    <a href="#" class="btn1">Explorar Mas <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="collection-card" style="background-image:url(img/class2.png)">
                    <h1>ClassicGames</h1>
                    <a href="#" class="btn1">Explorar Mas <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="collection-card" style="background-image:url(img/class3.png)">
                    <h1>NewGames</h1>
                    <a href="#" class="btn1">Explorar Mas <i class="fas fa-arrow-right"></i></a>
                </div>
    
            </div>
            
        </section>
<hr>
        <section class="shop" id="shop">
            <h1 class="tittle">Gamer<span> Descuentos</span></h1>
            <div class="box-container">
                <div class="box">
                    <div class="img">
                        <img src="img/classic/gta52.jpg">
                        <div class="icons">
                            
                        </div>
                    </div>
                    <div class="content">
                        <h3>Gta-V</h3>
                        <div class="price">$26.000 CLP <span> $24.000</span></div>
                        <button class="agregar-carrito" data-nombre="Gta-V" data-precio="24000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="img/new/forza_horizon_5 (1).jpg">
                       
                    </div>
                    <div class="content">
                        <h3>Forza Horizon 5</h3>
                        <div class="price">$49.000 CLP<span> $24.990</span></div>
                        <button class="agregar-carrito" data-nombre="Forza Horizon 5" data-precio="24990">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="img/new/the_witcher_3.jpg">
                        <div class="icons">
                         
                        </div>
                    </div>
                    <div class="content">
                        <h3>The Witcher 3</h3>
                        <div class="price">$18.300 CLP<span> $16.000</span></div>
                        <button class="agregar-carrito" data-nombre="The Witcher 3" data-precio="16000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="img/NEW/elden_ring.jpg">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Elden Ring</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Elden Ring" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
            </div>
    
        </section>

        <section class="table"> 
            <h1 class="tittle">Puntuación <span>MetaGames</span></h1>
            <table class="table table-striped table-borderless table-dark" id="tablajuegos">
                <thead>
                  <tr>
                    <th>Puesto</th>
                    <th>Portada</th>
                    <th>Juego</th>
                    <th>Puntuación Metacritics</th>
                    <th>Puntuación Usuarios</th>
                  </tr>
                </thead>
                <tbody>
            
                </tbody>
              </table>   <button type="button" class="btn1 btn-dark " id="traer"> Presiona aqui para llenar la tabla </button>
              </section>
    </main>

    <footer>
        <section class="footer" id="contact">
           
            <div class="box-container">
    
              
                
               
                
                <div class="box">
                  
                        <img src="img/MetaGamesLogo_21.png" alt="logo" width="220" height="30">
                  
                </div > 
                <div class="box">
                    <h3>Detalles de Contacto</h3>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-envelope"></i>metaguid.duoc@gmail.com</a>
                    <a href="#" class="link"><i class="fas fa-map"></i>Egaña 323, Puerto Montt Chile</a>
                  
                </div>
    
                <div class="box">  <h3>Siguenos en</h3>
                   <div class="share">
                
                        <a href="" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-youtube"></a>
                    </div>
                </div>
    
                
            </div>
            <div class="credit"><span>Meta Games |</span>| Derechos Reservados</div>
            
    
        </section>
    </footer>

    <script src="js/script.js"></script>
    <script src="js/script2.js"></script>
    <script src="js/script3.js"></script>
</body>
</html>