{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'ongapp/icons\favicon_2.svg' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <title>MetaGames</title>

    <link rel="stylesheet" href="{% static 'ongapp/estilos.css'%}">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header class="header">
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
        <div class="search">
            <span class="uil uil-search"></span>
            <input id="searchInput" placeholder="Buscar en Meta-Games" type="text" />
            
          </div>

          <div class="icons">
         
            <a  class="fas fa-shopping-cart"></a>
            <a href="{% url 'iniciarsesion' %}"  class="fa-sharp fa-solid fa-user" aria-placeholder=""> </a>

        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <img class="logo" src="{% static 'ongapp/img/MetaGamesLogo_2.png' %}" alt="Logo de Meta-Games"> 
        </div>
        <div class="options__menu">	
            <a href="{% url 'index' %}" class="selected">
                <div class="option">    
                    <img src="{% static 'ongapp/icons/Inicio.svg' %}" alt="icon inicio">
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="{% url 'nosotros' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Nosotros.svg' %}" alt="icon nosotros"> 
                    <h4>Nosotros</h4>
                </div>
            </a>
            
            <a href="{% url 'retrogames' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Retro.svg' %}" alt="icon retrogames"> 
                    <h4>RetroGames</h4>
                </div>
            </a>

            <a href="{% url 'newgames' %}">
                <div class="option" class="selected">
                    <img src="{% static 'ongapp/icons/Nuevos.svg' %}" alt="icon nuevos">
                    <h4>New Games</h4>
                </div>
            </a>

            <a href="{% url 'classicgames' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Clasicos.svg' %}" alt="icon clasicos"> 
                    <h4>Classic Games</h4>
                </div>
            </a>

            <a href="{% url 'contactanos' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Contactanos.svg' %}" alt="icon contacto"> 
                    <h4>Contacto</h4>
                </div>
            </a>

        </div>

    </div>

    <main>

     
          
          <div class="carrito">
            <h2>Carrito de compras</h2>
            <ul class="lista-carrito"></ul>
            <p class="total">Total: $0</p>
            <button class="vaciar-carrito">Vaciar carrito</button>
            <button class="comprar">Comprar</button>
          </div>
        
          <div class="modal">
            <div class="modal-contenido">
              <h2>Confirmar compra</h2>
              <p>¿Estás seguro de que deseas realizar la compra?</p>
              <button class="cancelar-compra">Cancelar</button>
              <button class="confirmar-compra">Confirmar</button>
            </div>
          </div>

          
      

          <section class="shop" id="shop">
            <h1 class="tittle">New<span>Games</span></h1>
            <div class="box-container">
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\gow2018.jpg' %}">
                        <div class="icons">
                            
                        </div>
                    </div>
                    <div class="content">
                        <h3>God Of War (2018)</h3>
                        <div class="price">$26.000 CLP <span> $24.000</span></div>
                        <button class="agregar-carrito" data-nombre="God Of War (2018)" data-precio="24000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\kakarot.jpg' %}">
                       
                    </div>
                    <div class="content">
                        <h3>Dragon Ball Z: Kakarot</h3>
                        <div class="price">$49.000 CLP<span> $24.990</span></div>
                        <button class="agregar-carrito" data-nombre="Dragon Ball Z: Kakarot" data-precio="24990">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\minecraft-dungeons_1220x2160_xtrafondos.com (1).jpg' %}">
                        <div class="icons">
                         
                        </div>
                    </div>
                    <div class="content">
                        <h3>Minecraft: Dungeons</h3>
                        <div class="price">$18.300 CLP<span> $16.000</span></div>
                        <button class="agregar-carrito" data-nombre="Minecraft: Dungeons" data-precio="16000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\NFSPB_Boxart (1).jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Need For Speed:Payback</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Need For Speed:Payback" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\shadowwarrior2.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Shadow Warrior 2</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Shadow Warrior 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\shadowwarrior3.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Shadow Warrior 3</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Shadow Warrior 3" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\Visage (1).jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Visage</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Visage" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\whatremainsofedithfinch.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>What Remains Of Edith Finch</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="What Remains Of Edith Finch" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\PRfYtTZQsuj3ALrBXGL8MjAH (1) (1).jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Spider-Man: Miles Morales</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Spider-Man: Miles Morales" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\cyberpunk2077.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>CyberPunk 2077</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="CyberPunk 2077 data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\dying-light-2-stay-human-pc-juego-steam-cover (1).jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Dying Light 2</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Dying Light 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\halo infinite.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Halo Infinite</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Halo Infinite" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\naruto-shippuden-ultimate-ninja-storm-4-road-to-boruto-expansion-expansion-pc-juego-steam-cover (1).jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Naruto U Ninja: Storm 4</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Naruto U Ninja: Storm 4" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\narutoborutostriker.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Naruto X boruto: Shinobi Striker</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Naruto X boruto: Shinobi Striker" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\new\ruinedking.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Ruined King</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Ruined King" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
               
               
            </div>
            
    <button type="button" class="btn1"><a href="NewGames.html">Anterior</a>  </button>
        </section>
     
    </main>

    <footer>
        <section class="footer" id="contact">
           
            <div class="box-container">
    
              
                
               
                
                <div class="box">
                  
                        <img src="{% static 'ongapp/img/MetaGamesLogo_21.png' %}" alt="logo" width="220" height="30">
                  
                </div > 
                <div class="box">
                    <h3>Detalles de Contacto</h3>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-envelope"></i>metaguid.duoc@gmail.com</a>
                    <a href="#" class="link"><i class="fas fa-map"></i>Egaña 323, Puerto Montt Chile</a>
                  
                </div>
    
                <div class="box">  <h3>Siguenos en</h3>
                   <div class="share">
                
                        <a href="" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-youtube"></a>
                    </div>
                </div>
    
                
            </div>
            <div class="credit"><span>Meta Games |</span>| Derechos Reservados</div>
            
    
        </section>
    </footer>

    <script src="{% static 'ongapp/js/script.js' % }"></script>
    <script src="{% static 'ongapp/js/script2.js' % }"></script>
  
</body>
</html>