{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'ongapp/icons\favicon_2.svg' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <title>MetaGames</title>

    <link rel="stylesheet" href="{% static 'ongapp/estilos.css'%}">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header class="header">
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
        <div class="search">
            <span class="uil uil-search"></span>
            <input id="searchInput" placeholder="Buscar en Meta-Games" type="text" />
            
          </div>

          <div class="icons">
   
            <a  class="fas fa-shopping-cart"></a>
            <a href="{% url 'iniciarsesion' %}"  class="fa-sharp fa-solid fa-user" aria-placeholder=""> </a>

        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <img class="logo" src="{% static 'ongapp/img/MetaGamesLogo_2.png' %}" alt="Logo de Meta-Games"> 
        </div>
        <div class="options__menu">	
            <a href="{% url 'index' %}" >
                <div class="option">    
                    <img src="{% static 'ongapp/icons/Inicio.svg' %}" alt="icon inicio">
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="{% url 'nosotros' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Nosotros.svg' %}" alt="icon nosotros"> 
                    <h4>Nosotros</h4>
                </div>
            </a>
            
            <a href="{% url 'retrogames' %}" class="selected">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Retro.svg' %}" alt="icon retrogames"> 
                    <h4>RetroGames</h4>
                </div>
            </a>

            <a href="{% url 'newgames' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Nuevos.svg' %}" alt="icon nuevos">
                    <h4>New Games</h4>
                </div>
            </a>

            <a href="{% url 'classicgames' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Clasicos.svg' %}" alt="icon clasicos"> 
                    <h4>Classic Games</h4>
                </div>
            </a>

            <a href="{% url 'contactanos' %}">
                <div class="option">
                    <img src="{% static 'ongapp/icons/Contactanos.svg' %}" alt="icon contacto"> 
                    <h4>Contacto</h4>
                </div>
            </a>

        </div>

    </div>

    <main>

     
          
          <div class="carrito">
            <h2>Carrito de compras</h2>
            <ul class="lista-carrito"></ul>
            <p class="total">Total: $0</p>
            <button class="vaciar-carrito">Vaciar carrito</button>
            <button class="comprar">Comprar</button>
          </div>
        
          <div class="modal">
            <div class="modal-contenido">
              <h2>Confirmar compra</h2>
              <p>¿Estás seguro de que deseas realizar la compra?</p>
              <button class="cancelar-compra">Cancelar</button>
              <button class="confirmar-compra">Confirmar</button>
            </div>
          </div>

          
      

          <section class="shop" id="shop">
            <h1 class="tittle">Retro<span>Games</span></h1>
            <div class="box-container">
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/ageofempires2.jpg' %}">
                       
                    </div>
                    <div class="content">
                        <h3>Age Of Empires 2</h3>
                        <div class="price">$26.000 CLP </div>
                        <button class="agregar-carrito" data-nombre="Age Of Empires 2" data-precio="24000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/aloneinthedark.jpg' %}">
                       
                    </div>
                    <div class="content">
                        <h3>Alone In The Dark</h3>
                        <div class="price">$49.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Alone In The Dark" data-precio="24990">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/anotherworld.jpg' %}">
                      
                    </div>
                    <div class="content">
                        <h3>Another World</h3>
                        <div class="price">$18.300 CLP</div>
                        <button class="agregar-carrito" data-nombre="Another World" data-precio="16000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/baldursgate2 (1).jpg' %}">
                      
                    </div>
                    <div class="content">
                        <h3>Baldur's Gate II</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Baldur's Gate II" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/diablo.jpg' %}">
                       
                    </div>
                    <div class="content">
                        <h3>Diablo</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Diablo" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/doom.png' %}">
                       
                    </div>
                    <div class="content">
                        <h3>Doom</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Doom" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/doom2 (2).png' %}">
                   
                    </div>
                    <div class="content">
                        <h3>Doom 2</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Doom 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/fallout2.jpg' %}">
                     
                    </div>
                    <div class="content">
                        <h3>Fallout 2</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Fallout 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/fifa98.jpg' %}">
                       
                    </div>
                    <div class="content">
                        <h3>Fifa 98</h3>
                        <div class="price">$43.000 CLP </div>
                        <button class="agregar-carrito" data-nombre="Fifa 98" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/finalfantasy3.jpeg' %}">
                      
                    </div>
                    <div class="content">
                        <h3>Final Fantasy III</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Final Fantasy III" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/grimfandango.jpg' %}">
                       
                    </div>
                    <div class="content">
                        <h3>Grim Fandago</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Grim Fandago" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/jalflife.png' %}">
                        
                    </div>
                    <div class="content">
                        <h3>Half-Life</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Half-Life" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>

                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/Legacy of Kain Soul Reaver 2.jpg' %}">
                    </div>
                    <div class="content">
                        <h3>Legacy Of Kain Soul Reaver</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Legacy Of Kain Soul Reaver" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/loom.jpg' %}">
                       
                    </div>
                    <div class="content">
                        <h3>Loom</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Loom" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/metalgearsolid.jpg' %}">
                        
                    </div>
                    <div class="content">
                        <h3>Metal Gear Solid</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Metal Gear Solid" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp/img/retro/Planescape Torment.jpeg' %}">
                        
                    </div>
                    <div class="content">
                        <h3>Planescape Torment</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Planescape Torment" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\retro\Quake (1).jpg' %}">
                        
                    </div>
                    <div class="content">
                        <h3>Quake</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Quake" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div> 
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\retro\silenthill1.jpg' %}">
                        
                    </div>
                    <div class="content">
                        <h3>Silent Hill</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Silent Hill" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div> 
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\retro\streetfighter2.jpg' %}">
                        
                    </div>
                    <div class="content">
                        <h3>Street Fighter II</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="Street Fighter II" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div> 
                <div class="box">
                    <div class="img">
                        <img src="{% static 'ongapp\img\retro\System Shock 2.jpg' %}">
                        
                    </div>
                    <div class="content">
                        <h3>System Shock 2</h3>
                        <div class="price">$43.000 CLP</div>
                        <button class="agregar-carrito" data-nombre="System Shock 2" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>   
               
               
            </div>
            
    <button type="button" class="btn1"><a href="{% url 'retrogames2' %}">Siguiente</a>  </button>
        </section>
     
    </main>

    <footer>
        <section class="footer" id="contact">
           
            <div class="box-container">
    
              
                
               
                
                <div class="box">
                  
                        <img src="{% static 'ongapp/img/MetaGamesLogo_21.png' %}" alt="logo" width="220" height="30">
                  
                </div > 
                <div class="box">
                    <h3>Detalles de Contacto</h3>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-envelope"></i>metaguid.duoc@gmail.com</a>
                    <a href="#" class="link"><i class="fas fa-map"></i>Egaña 323, Puerto Montt Chile</a>
                  
                </div>
    
                <div class="box">  <h3>Siguenos en</h3>
                   <div class="share">
                
                        <a href="" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-youtube"></a>
                    </div>
                </div>
    
                
            </div>
            <div class="credit"><span>Meta Games |</span>| Derechos Reservados</div>
            
    
        </section>
    </footer>

    <script src="{% static 'ongapp/js/script.js' %}"></script>
    <script src="{% static 'ongapp/js/script2.js' %}"></script>
  
</body>
</html>