{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Somos la tienda de videojuegos con el mejor catalogo de videojuegos online y al mejor precio">
  <meta name="keywords" content="games, videogames, pc, computers, gamers">
  <meta name="author" content="Diego Sanchez, David Coo, Nicolas Carcamo">
    <link rel="icon" href="{% static 'main/media/icons/favicon_2.svg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'main/js/API.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
    <script src="{% static 'main/js/script2.js' %}"></script>
<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>MetaGames</title>

    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

    
</head>
<body id="body">
    
    <header class="header">
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
        <div class="search">
            <span class="uil uil-search"></span>
            <input id="searchInput" placeholder="Buscar en Meta-Games" type="text" />
            
          </div>

          <div class="icons">
            <a  class="fas fa-shopping-cart"></a>
            <a href="{% url 'iniciarsesion' %}"  class="fa-sharp fa-solid fa-user" aria-placeholder=""> </a>
            </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <img class="logo" src="{% static 'main\media\MetaGamesLogo_2.png' %}" alt="Logo de Meta-Games"> 
        </div>
        <div class="options__menu">	
           
                <div class="option">    
                    <img src="{% static 'main/media/icons/Inicio.svg' %}" alt="icon inicio"> <a href="{% url 'index' %}">
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="{% url 'nosotros' %}">
                <div class="option">
                    <img src="{% static 'main/media/icons/Nosotros.svg' %}" alt="icon nosotros"> 
                    <h4>Nosotros</h4>
                </div>
            </a>
            <a href="{% url 'games' %}">
              <div class="option">
                  <img src="{% static 'main/media/icons/games.svg' %}" alt="icon nosotros"> 
                  <h4>Listado de Juegos</h4>
              </div>
          </a>
            
            <a href="{% url 'retrogames' %}"> <a href="#" class="selected">
                <div class="option">
                    <img src="{% static 'main/media/icons/Retro.svg' %}" alt="icon retrogames"> 
                    <h4>RetroGames</h4>
                </div>
            </a>

            <a href="{% url 'newgames' %}">
                <div class="option">
                    <img src="{% static 'main/media/icons/Nuevos.svg' %}" alt="icon nuevos">
                    <h4>New Games</h4>
                </div>
            </a>

            <a href="{% url 'classicgames' %}">
                <div class="option">
                    <img src="{% static 'main/media/icons/Clasicos.svg' %}" alt="icon clasicos"> 
                    <h4>Classic Games</h4>
                </div>
            </a>

            <a href="{% url 'contactanos' %}">
                <div class="option">
                    <img src="{% static 'main/media/icons/Contactanos.svg' %}"alt="icon contacto"> 
                    <h4>Contacto</h4>
                </div>
            </a>

        </div>

    </div>

   ><main>

     
          
          <div class="carrito">
            <h2>Carrito de compras</h2>
            <ul class="lista-carrito"></ul>
            <p class="total">Total: $0</p>
            <button class="vaciar-carrito">Vaciar carrito</button>
            <button class="comprar">Comprar</button>
          </div>
        
          <div class="modal">
            <div class="modal-contenido">
              <h2>Confirmar compra</h2>
              <p>¿Estás seguro de que deseas realizar la compra?</p>
              <button class="cancelar-compra">Cancelar</button>
              <button class="confirmar-compra">Confirmar</button>
            </div>
          </div>

          
      

        <section class="shop" id="shop">
            <h1 class="tittle">Retro<span> Games</span></h1>
            <div class="box-container">
                <div class="box">
                    <div class="img">
                        <img src="{% static 'main/media/classic/gta52.jpg' %}"> 
                    </div>
                    <div class="content">
                        <h3>Gta-V</h3>
                        <div class="price">$26.000 CLP <span> $24.000</span></div>
                        <button class="agregar-carrito" data-nombre="Gta-V" data-precio="24000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'main/media/new/forza_horizon_5 (1).jpg' %}">
                       
                    </div>
                    <div class="content">
                        <h3>Forza Horizon 5</h3>
                        <div class="price">$49.000 CLP<span> $24.990</span></div>
                        <button class="agregar-carrito" data-nombre="Forza Horizon 5" data-precio="24990">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'main/media/new/elden_ring.jpg' %}">
                      
                    </div>
                    <div class="content">
                        <h3>The Witcher 3</h3>
                        <div class="price">$18.300 CLP<span> $16.000</span></div>
                        <button class="agregar-carrito" data-nombre="The Witcher 3" data-precio="16000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{% static 'main/media/new/the_witcher_3.jpg' %}">
                        <div class="icons">
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Elden Ring</h3>
                        <div class="price">$43.000 CLP<span> $28.000</span></div>
                        <button class="agregar-carrito" data-nombre="Elden Ring" data-precio="43000">Agregar al carrito</button>
                    </div>
                </div>
                <div class="box">
                  <div class="img">
                      <img src="{% static 'main/media/classic/gta52.jpg' %}"> 
                  </div>
                  <div class="content">
                      <h3>Gta-V</h3>
                      <div class="price">$26.000 CLP <span> $24.000</span></div>
                      <button class="agregar-carrito" data-nombre="Gta-V" data-precio="24000">Agregar al carrito</button>
                  </div>
              </div>
              <div class="box">
                  <div class="img">
                      <img src="{% static 'main/media/new/forza_horizon_5 (1).jpg' %}">
                     
                  </div>
                  <div class="content">
                      <h3>Forza Horizon 5</h3>
                      <div class="price">$49.000 CLP<span> $24.990</span></div>
                      <button class="agregar-carrito" data-nombre="Forza Horizon 5" data-precio="24990">Agregar al carrito</button>
                  </div>
              </div>
              <div class="box">
                  <div class="img">
                      <img src="{% static 'main/media/new/elden_ring.jpg' %}">
                    
                  </div>
                  <div class="content">
                      <h3>The Witcher 3</h3>
                      <div class="price">$18.300 CLP<span> $16.000</span></div>
                      <button class="agregar-carrito" data-nombre="The Witcher 3" data-precio="16000">Agregar al carrito</button>
                  </div>
              </div>
              <div class="box">
                  <div class="img">
                      <img src="{% static 'main/media/new/the_witcher_3.jpg' %}">
                      <div class="icons">
                        
                      </div>
                  </div>
                  <div class="content">
                      <h3>Elden Ring</h3>
                      <div class="price">$43.000 CLP<span> $28.000</span></div>
                      <button class="agregar-carrito" data-nombre="Elden Ring" data-precio="43000">Agregar al carrito</button>
                  </div>
              </div>
              <div class="box">
                <div class="img">
                    <img src="{% static 'main/media/classic/gta52.jpg' %}"> 
                </div>
                <div class="content">
                    <h3>Gta-V</h3>
                    <div class="price">$26.000 CLP <span> $24.000</span></div>
                    <button class="agregar-carrito" data-nombre="Gta-V" data-precio="24000">Agregar al carrito</button>
                </div>
            </div>
            <div class="box">
                <div class="img">
                    <img src="{% static 'main/media/new/forza_horizon_5 (1).jpg' %}">
                   
                </div>
                <div class="content">
                    <h3>Forza Horizon 5</h3>
                    <div class="price">$49.000 CLP<span> $24.990</span></div>
                    <button class="agregar-carrito" data-nombre="Forza Horizon 5" data-precio="24990">Agregar al carrito</button>
                </div>
            </div>
            <div class="box">
                <div class="img">
                    <img src="{% static 'main/media/new/elden_ring.jpg' %}">
                  
                </div>
                <div class="content">
                    <h3>The Witcher 3</h3>
                    <div class="price">$18.300 CLP<span> $16.000</span></div>
                    <button class="agregar-carrito" data-nombre="The Witcher 3" data-precio="16000">Agregar al carrito</button>
                </div>
            </div>
            <div class="box">
                <div class="img">
                    <img src="{% static 'main/media/new/the_witcher_3.jpg' %}">
                    <div class="icons">
                      
                    </div>
                </div>
                <div class="content">
                    <h3>Elden Ring</h3>
                    <div class="price">$43.000 CLP<span> $28.000</span></div>
                    <button class="agregar-carrito" data-nombre="Elden Ring" data-precio="43000">Agregar al carrito</button>
                </div>
            </div>
            </div>
    
        </section>
        <button type="button" class="btn1"><a href="{%url 'retrogames' %}">Anterior</a>  </button>

       </main>

    <footer>
        <section class="footer" id="contact">
           
            <div class="box-container">
    
              
                
               
                
                <div class="box">
                  
                        <img src="{% static 'main\media\MetaGamesLogo_21.png' %}" alt="logo" width="220" height="30">
                  
                </div > 
                <div class="box">
                    <h3>Detalles de Contacto</h3>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-phone"></i>+56955889665</a>
                    <a href="#" class="link"><i class="fas fa-envelope"></i>metaguid.duoc@gmail.com</a>
                    <a href="#" class="link"><i class="fas fa-map"></i>Egaña 323, Puerto Montt Chile</a>
                  
                </div>
    
                <div class="box">  <h3>Siguenos en</h3>
                   <div class="share">
                
                        <a href="" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a>
                        <a href="" class="fab fa-instagram"></a>
                        <a href="" class="fab fa-youtube"></a>
                    </div>
                </div>
    
                
            </div>
            <div class="credit"><span>Meta Games |</span>| Derechos Reservados</div>
            
    
        </section>
   
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"> </script>
   
</body>
</html>
